/* Champion Info */

.champion_info {
	margin-top:3px;
	background:#233148;
	border:3px solid #0d244e;
	padding:0.7em;
}

.champion_info h3 {
	width:721px;
}

.new_champion_div {
	border:2px solid #0d244e;
	background:url(/datadragon/img/champion/splash/Yuumi_0.jpg);
	width:731px;
	height:150px;
	display:inline-block;
}

#text_wrapper {
	padding:10px 0px 0px 25px;
}

.new_champ_name {
	padding:0;
	background:0;
	border:0;
}

.champion_type {
	display:inline-block;
	color:rgb(75, 177, 255);
	margin:0px;
}

.champion_slogan {
	margin:0px;
}

#free_champs_div {
	margin-top:10px;
}

#free_champs_div h3 {
	margin:0;
	width:721px;
}

#free_champs_img {
	margin-top:3px;
}

#free_champs_img img {
	margin:2px 3px 0px 0px;
	width:5em;
	height:5em;
}