/* Champion Wrapper */

.champion_wrapper {
    margin-top: 3px;
	background: #233148;
	border: 3px solid #0d244e;
    padding: 2em 5em;
    height: 100em;
    .top_left {
        height: 12em;
        img {
            float: left;
            height: 10em;
            border-radius: 50%;
        }
        div {
            // background: #132138;
            // border: 2px solid #0d244e;
            // border-radius: 0.1em;
            display: inline-block;
            padding: 0 1.2em 0.8em 1.2em ;
            margin-left: 2em; 
            h1 {
                border-left: 0;
                font-weight: 600;
                font-size: 3em;
                padding: 0;
                background: 0;
                border: 0;
            }
            h4 {
                margin-left: 2px;
            }
            h5 {
                display: inline-block;
                color: #4bb1ff;
                margin: 0;
                margin-top: 4px;
                margin-left: 2px;
            }
        }
    }    
}

.champion_stats {
    margin-top: 1em;
    .champion_stats_data {
        display: inline-block;
        width: 24%;
        text-align: center;
        h1 {
            font-size: 2em;
            background: 0;
            border: 0;
        }
    }
}

.champion_skills {
    margin-top: 3em;
    display: inline-block;
    img {
        box-sizing: border-box;
        height: 37px;
    }
    .champion_passive_row {

    }
    .champion_skill_row {
        margin-bottom: -8px;
        div {
            box-sizing: border-box;
            background: #202d42;
            height: 37px;
            width: 37px;
            display: inline-block;
            text-align: center;
        }
        .champion_skill_data_active {
            position: relative;
            bottom: 13px;
            background: #3175a8;
            font-weight: 600;
            color: #ffffff;
            padding-top: 8px;
            bottom: 12px;
        }
    }
}