/* Login */

.login_wrapper {
	margin-top:20px;
	background:#132138;
	border:3px solid #0d244e;
	padding:5px;
}

.submit {
	display:block;
	margin-top:20px;
	background: #008a32;
	border: 0;
	border-bottom: 3px solid #007129;
	color: #fff!important;
	font-family:'Roboto Condensed', Arial, sans-serif;
	height: auto;
	font-size: 14px;
	padding: 5px 15px 2px;
	cursor: pointer;
	text-decoration: none;
}