/* Top Bar */

.top_bar {
	height: 8em;
	background: #233148;
	border: 3px solid #0d244e;
}

.top_bar img {
	height: 8em;
	display:inline;
	float:left;
	border: 0;
	border-right: 3px solid #0d244e;
}

.top_bar p {
	display:inline-block;
}

.create_new_guide {
	float:right;
	background:#132138;
	border:2px solid #0d244e;
	padding:5px;
	text-align:center;
	margin-top:23px;
}

.create_new_guide h3 {
	color:rgb(75, 177, 255);
	background:0;
	border:0;
	font-weight:bold;
}

.create_new_guide h4 {
	color:rgb(75, 177, 255);
	margin:0px;
	font-weight:normal;
}